@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

body {
    font-family: "BBH Sans Bogle", sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

.content {
    max-width: 600px;
    margin: 100px auto 50px;
    padding: 0 20px;
    font-family: "BBH Sans Bogle", sans-serif;
}

h1 {
    text-align: center;
    font-size: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "BBH Sans Bogle", sans-serif;
}

/* Стили для постов */
.post {
    border: 1px solid #e0e0e0;
    padding: 25px;
    margin: 30px 0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    font-family: "BBH Sans Bogle", sans-serif;
}

.post h3 {
    margin: 0 0 15px 0;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: "BBH Sans Bogle", sans-serif;
}

.post p {
    margin: 15px 0;
    line-height: 1.6;
    font-size: 16px;
    font-family: "BBH Sans Bogle", sans-serif;
}

.post small {
    color: #666;
    font-size: 14px;
    font-family: "BBH Sans Bogle", sans-serif;
}
